#pending-list{
    background: #eceff1;
    .imovel-card{
        position: relative;
        padding-top: 10px;

        img{
            object-fit: cover;
            width: calc(100% + 32px);
            max-height: 150px;
            margin-left: -16px;
            overflow: hidden;
        }

        .title{
            padding-top: 7.5px;
            font-size: 1.1em;
            margin-bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .address{
                font-size: 0.9em;
                
                .low{
                    display: block;
                    font-size: 0.75em;
                }
            }

            .grade{
                font-weight: bold;
                font-size: 1.3em;
            }
        }

        &::after{
            // content: "";
            display: block;
            background: rgb(33, 66, 165);
            width: 100%;
            height: 10px;
            position: absolute;
            top: 0;
            left: 0;
            
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
    }
}

#areaCard{
    .list{
        background: #eceff1;
    }
}