#profile{
    padding-top: 15px;

    .thumbnail{
        border-radius: 50%;
        max-height: 150px;
        overflow: hidden;
        max-width: 150px;
        margin: 0 auto;
        
        margin-bottom: 15px;

        border: solid #757575 3px;

        img.thumbnail-image{
            
        }
    }

    .name{
        font-size: 1.5em;
        text-align: center;
        width: 100%;

        span{
            text-align: center;
        }
    }
}