#completed-list{
    font-size: 1.1em;
}

#pending-list, #result-list, #completed-list{
    background: #eceff1;
    .imovel-card{
        position: relative;
        padding-top: 10px;

        img{
            object-fit: cover;
            width: calc(100% + 32px);
            max-height: 150px;
            margin-left: -16px;
            overflow: hidden;
        }

        .title{
            padding-top: 7.5px;
            font-size: 1.1em;
            margin-bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .address{
                font-size: 0.9em;
                
                .low{
                    display: block;
                    font-size: 0.75em;
                }
            }

            .grade{
                font-weight: bold;
                font-size: 1.3em;
            }
        }

        &::after{
            // content: "";
            display: block;
            background: rgb(33, 66, 165);
            width: 100%;
            height: 10px;
            position: absolute;
            top: 0;
            left: 0;
            
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }

        .status{
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            padding-top: 7px;
            padding-left: 12px;
            padding-bottom: 7px;
            margin-top: -10px;
            margin-left: -16px;
            margin-right: -16px;

            background: rgba(lightgray, 0.2);
            font-size: 0.9em;

            &.p{
                border-bottom: solid 4px dimgray;
            }

            &.a{
                // background: rgba(green, 0.1);
                // font-weight: bold;
                border-bottom: solid 4px green;
            }

            &.r{
                // background: rgba(189, 0, 0, 0.1);
                border-bottom: solid 4px rgb(196, 0, 0);
                // font-weight: bold;
            }
        }

        .hora{
            margin-top: 10px;
            font-size: 0.8em;
            opacity: 0.75;
        }
    }
}

#imovelPage{
    .carousel{
        ons-carousel-item{
            text-align: center;
            height: 200px;

            img{
                max-height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .panel{
        margin-top: 7px;

        & > div{
            display: flex;
            flex-direction: column;
        }

        .title{
            background: #fff;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 25px;

            .address{
                padding: 15px 0;
                font-size: 1.3em;

                .low{
                    display: block;
                    font-size: 0.7em;

                    .fa{
                        color: royalblue;
                    }
                }
            }

            .grade{
                font-size: 1.8em;
                font-weight: bold;
                color: white;
                background: royalblue;
                padding: 7px 10px;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }

        .desc{
            background: #fff;
            padding: 15px 25px;
            font-size: 0.9em;
            // border-radius: 5px;
            margin-top: 3px;
        }
    }
    
    .map{
        height: 500px;
    }
    
    #fabAvaliar{
        background: royalblue !important;

        .fab--material__icon{
            color: #fff !important;
        }
    }
}

#map {
    height: 600px;
}


#scorePage{
    #areaSubmitAvaliacao{
        position: absolute;
        bottom: 5px;
        z-index: 100;
        width: 100%;
    }
}

#avaliacao-list{
    padding-bottom: 20px;
    background: #eceff1;
    .avaliacao{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 15px 10px;
        background: #fff;
        margin-top: 2px;
        font-size: 1.1em;
    }

    .nome{
    }

    .nota{
        font-weight: bold;
    }

    .status{
        font-size: 1.3em;
        font-weight: bold;
        width: 100%;
        text-align: center;

        &.r{
            color: rgb(175, 0, 0);
        }

        &.a{
            color: rgb(0, 107, 0);
        }
    }

    .nota-final{
        font-size: 1.3em;
        font-weight: bolder;
        width: 100%;
        text-align: center;

        span{
            display: block;
            font-weight: 300;
            font-size: 0.65em;
            opacity: 0.9;
        }
    }
}

#loginPage{
    
    .page__content {
        display: flex;
        align-items: center;

        &>div{
            width: 100%;
        }
    }

    ons-input{
        width: 70%;
    }

    button{
        width: 70%;
    }
}

#cadastrarPage{
    .carousel{
        ons-input{
            width: 70%;
        }
    }
}

#areaProximo, #areaConfirmar{
    position: fixed;
    bottom: 5px;
    width: 100%;
    button{
    }
}