$color-primary: rgb(255, 102, 0);
$color-primary-shallow: #e77427;

.page--material__background{
    background: rgb(51, 51, 51);
}

.btn-dark{
    background: black;
    border-color: black;
}

.btn-primary{
    background: $color-primary;
    border-color: $color-primary;
}

ons-input{
    input[type="text"], input[type="password"]{
        color: #aaa;
    }

    .text-input--material:focus {
        background-image: linear-gradient($color-primary, $color-primary), linear-gradient(to top, transparent 1px, #afafaf 1px);
    }

    .text-input__label{
        color: $color-primary-shallow;
    }
}

ons-toolbar.toolbar{
    background: #222;

    .toolbar__title {
        color: #eee;
    }
}

ons-icon{
    color: $color-primary;
}

.tabbar, .tabbar.tabbar--material{
    background: rgb(37, 37, 37);

    .tabbar__button {
        color: #ddd;

        .tabbar__icon{
            ons-icon{
                color: #ddd;
            }
        }
    }
}

ons-list{
    &, &.list--material{
        background-color: #222;
    }

    ons-list-item.list-item{
        color: #ddd;
    }
}

.back-button--material__icon{
    fill: $color-primary;
}


input.form-control{
    // color: #495057;
    // background-color: #222;
    // border: 1px solid #ced4da;
}


ons-card.card{
    background: #dedede;
}


ons-fab.fab{
    background: $color-primary;
}


#completed-list{
    font-size: 1.1em;
}

#pending-list, #result-list, #completed-list, #notification-list{
    background: #383838;
    .imovel-card{
        position: relative;
        padding-top: 0px;

        img{
            object-fit: cover;
            width: calc(100% + 32px);
            max-height: 150px;
            margin-left: -16px;
            overflow: hidden;
        }

        .title{
            padding-top: 7.5px;
            font-size: 1.1em;
            margin-bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .address{
                font-size: 0.9em;
                
                .low{
                    display: block;
                    font-size: 0.75em;
                }
            }

            .grade{
                font-weight: bold;
                font-size: 1.3em;
            }
        }

        &::after{
            // content: "";
            display: block;
            background: rgb(33, 66, 165);
            width: 100%;
            height: 10px;
            position: absolute;
            top: 0;
            left: 0;
            
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }

        .status{
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            padding-top: 7px;
            padding-left: 12px;
            padding-bottom: 7px;
            margin-top: -10px;
            margin-left: -16px;
            margin-right: -16px;

            background: rgba(lightgray, 0.2);
            font-size: 0.9em;

            &.p{
                border-bottom: solid 4px dimgray;
            }

            &.a{
                // background: rgba(green, 0.1);
                // font-weight: bold;
                border-bottom: solid 4px green;
            }

            &.r{
                // background: rgba(189, 0, 0, 0.1);
                border-bottom: solid 4px rgb(196, 0, 0);
                // font-weight: bold;
            }
        }

        .hora{
            margin-top: 10px;
            font-size: 0.8em;
            opacity: 0.75;
        }
    }
}

#pendingTasksPage{
    .notification-title{
        color: $color-primary !important;
    }

    .distance{
        margin-top: 15px;
        color: $color-primary;
        font-weight: bold;
        text-align: center;

        span{
            font-weight: 300;
            color: #333;
        }
    }
}

#imovelPage{
    .carousel{
        ons-carousel-item{
            text-align: center;
            height: 200px;

            img{
                max-height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .panel{
        margin-top: 7px;

        & > div{
            display: flex;
            flex-direction: column;
        }

        .title{
            background: #fff;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 25px;

            .address{
                padding: 15px 0;
                font-size: 1.3em;

                .low{
                    display: block;
                    font-size: 0.7em;

                    .fa{
                        color: $color-primary;
                    }
                }
            }

            .grade{
                font-size: 1.8em;
                font-weight: bold;
                color: white;
                background: $color-primary;
                padding: 7px 10px;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }

        .desc{    
            background: #eee;
            color: #333;
            padding: 15px 25px;
            font-size: 0.9em;
            // border-radius: 5px;
            margin-top: 3px;
        }
    }
    
    .map{
        height: 500px;
    }
    
    #fabAvaliar{
        .fab--material__icon{
            color: #fff !important;
        }
    }
}

#map {
    height: 600px;
}


#scorePage{
    #areaSubmitAvaliacao{
        position: absolute;
        bottom: 5px;
        z-index: 100;
        width: 100%;
    }
}

#avaliacao-list{
    padding-bottom: 20px;
    background: #383838;
    
    .avaliacao{
        display: flex;
        flex-direction: column;

        padding: 20px 20px;
        background: #fff;
        margin-bottom: 15px;
        font-size: 1.1em;

        // margin-left: 10px;
        // margin-right: 10px;
        // border-radius: 8px;

        &.status{
            background: lightgray;
            margin: 0;
        }
    }

    .nome{
        font-size: 1.1em;
        opacity: 0.65;
        margin-bottom: 10px;
    }

    .desc{
        font-size: 0.825em;
        padding: 0 15px;
    }

    .nota{
        font-size: 0.95em;
        margin-top: 15px;
        margin-left: -20px;
        margin-right: -20px;
        background: rgba(lightgray, 0.275);
        padding: 3px 20px;
        // margin-left: 20px;

        span{
            opacity: 0.625;
            font-size: 0.85em;
            // font-weight: bold;
        }
    }

    .status{
        float: right;
        text-align: center;
        margin-right: 16px;

        &.r{
            color: rgb(211, 0, 0);
            opacity: 0.65;
        }

        &.a{
            color: rgb(0, 131, 0);
            opacity: 0.65;
        }
    }

    .nota-final{
        font-weight: bolder;
        width: 100%;
        text-align: center;

        span{
            opacity: 0.6;
            margin-right: 10px;
        }
    }
}

#imovelAnalise{

    .title{
        width: 100%;
        padding: 20px;
        background: #494949;
        color: white;
        // margin-bottom: 15px;   


        .nota-futura{
            display: flex;
            align-items: center;
            padding: 0 10px;

            div{
                text-align: center;
            }

            #nota_prevista{
                padding-left: 25px;
                font-size: 1.8em;
                font-weight: bold;
                color: $color-primary;
            }
        }
    }
}

#analise-positivo-list, #analise-negativo-list{
    background: #383838;
    border-left: 3px solid black;
    // border-top-left-radius: 7px;
    // border-bottom-left-radius: 7px;
    overflow: hidden;
    
    &#analise-positivo-list{
        border-left: 8px solid rgb(0, 161, 0);
        border-right: 8px solid rgb(0, 161, 0);
    }
    
    &#analise-negativo-list{
        border-left: 8px solid rgb(194, 0, 0);
        border-right: 8px solid rgb(194, 0, 0);
    }


    .inf{
        position: relative;
        color: #eee;
        background: #2c2c2c;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 10px;
        border-bottom: 2px solid #383838;


        .influence{
            font-size: 1.3em;
            margin: 0 15px;
        }

        .nome{

        }

        &.inf-3, &.inf-2, &.inf-1{
            .influence{
                &, ons-icon{
                    color: green;
                }
            }
        }
        &.inf--3, &.inf--2, &.inf--1{
            .influence{
                &, ons-icon{
                    color: rgb(197, 0, 0);
                }
            }
        }
    }
}

#loginPage{
    
    .page__content {
        display: flex;
        align-items: center;

        &>div{
            width: 100%;
        }
    }

    ons-input{
        width: 70%;
    }

    button{
        width: 70%;
    }
}

#cadastrarPage{
    .carousel{
        ons-input{
            width: 70%;
        }
    }
}

#areaProximo, #areaConfirmar{
    position: fixed;
    bottom: 5px;
    width: 100%;
    button{
    }
}

#cadastros-list, #pendencias-list{
    background: #383838;

    .cadastro-card, .dual, .direita{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &.direita{
            flex-direction: column;
        }
    }


    .nome{
        font-weight: 500;
        font-size: 1.1em;
    }

    .data{
        margin-top: 10px;
        opacity: 0.75;
        font-size: 0.9em;
    }

    .tag{
        text-align: right;

        &.a{
            color: goldenrod;
            font-weight: 500;
        }

        &.u{
            color: red;
            font-weight: bolder;
        }
    }
}