#completed-list {
  font-size: 1.1em; }

#pending-list, #result-list, #completed-list {
  background: #eceff1; }
  #pending-list .imovel-card, #result-list .imovel-card, #completed-list .imovel-card {
    position: relative;
    padding-top: 10px; }
    #pending-list .imovel-card img, #result-list .imovel-card img, #completed-list .imovel-card img {
      object-fit: cover;
      width: calc(100% + 32px);
      max-height: 150px;
      margin-left: -16px;
      overflow: hidden; }
    #pending-list .imovel-card .title, #result-list .imovel-card .title, #completed-list .imovel-card .title {
      padding-top: 7.5px;
      font-size: 1.1em;
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      #pending-list .imovel-card .title .address, #result-list .imovel-card .title .address, #completed-list .imovel-card .title .address {
        font-size: 0.9em; }
        #pending-list .imovel-card .title .address .low, #result-list .imovel-card .title .address .low, #completed-list .imovel-card .title .address .low {
          display: block;
          font-size: 0.75em; }
      #pending-list .imovel-card .title .grade, #result-list .imovel-card .title .grade, #completed-list .imovel-card .title .grade {
        font-weight: bold;
        font-size: 1.3em; }
    #pending-list .imovel-card::after, #result-list .imovel-card::after, #completed-list .imovel-card::after {
      display: block;
      background: #2142a5;
      width: 100%;
      height: 10px;
      position: absolute;
      top: 0;
      left: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px; }
    #pending-list .imovel-card .status, #result-list .imovel-card .status, #completed-list .imovel-card .status {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      padding-top: 7px;
      padding-left: 12px;
      padding-bottom: 7px;
      margin-top: -10px;
      margin-left: -16px;
      margin-right: -16px;
      background: rgba(211, 211, 211, 0.2);
      font-size: 0.9em; }
      #pending-list .imovel-card .status.p, #result-list .imovel-card .status.p, #completed-list .imovel-card .status.p {
        border-bottom: solid 4px dimgray; }
      #pending-list .imovel-card .status.a, #result-list .imovel-card .status.a, #completed-list .imovel-card .status.a {
        border-bottom: solid 4px green; }
      #pending-list .imovel-card .status.r, #result-list .imovel-card .status.r, #completed-list .imovel-card .status.r {
        border-bottom: solid 4px #c40000; }
    #pending-list .imovel-card .hora, #result-list .imovel-card .hora, #completed-list .imovel-card .hora {
      margin-top: 10px;
      font-size: 0.8em;
      opacity: 0.75; }

#imovelPage .carousel ons-carousel-item {
  text-align: center;
  height: 200px; }
  #imovelPage .carousel ons-carousel-item img {
    max-height: 100%;
    width: 100%;
    object-fit: cover; }

#imovelPage .panel {
  margin-top: 7px; }
  #imovelPage .panel > div {
    display: flex;
    flex-direction: column; }
  #imovelPage .panel .title {
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px; }
    #imovelPage .panel .title .address {
      padding: 15px 0;
      font-size: 1.3em; }
      #imovelPage .panel .title .address .low {
        display: block;
        font-size: 0.7em; }
        #imovelPage .panel .title .address .low .fa {
          color: royalblue; }
    #imovelPage .panel .title .grade {
      font-size: 1.8em;
      font-weight: bold;
      color: white;
      background: royalblue;
      padding: 7px 10px;
      height: 100%;
      display: flex;
      align-items: center; }
  #imovelPage .panel .desc {
    background: #fff;
    padding: 15px 25px;
    font-size: 0.9em;
    margin-top: 3px; }

#imovelPage .map {
  height: 500px; }

#imovelPage #fabAvaliar {
  background: royalblue !important; }
  #imovelPage #fabAvaliar .fab--material__icon {
    color: #fff !important; }

#map {
  height: 600px; }

#scorePage #areaSubmitAvaliacao {
  position: absolute;
  bottom: 5px;
  z-index: 100;
  width: 100%; }

#avaliacao-list {
  padding-bottom: 20px;
  background: #eceff1; }
  #avaliacao-list .avaliacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10px;
    background: #fff;
    margin-top: 2px;
    font-size: 1.1em; }
  #avaliacao-list .nota {
    font-weight: bold; }
  #avaliacao-list .nota-final {
    font-size: 1.3em;
    font-weight: bolder;
    width: 100%;
    text-align: center; }
    #avaliacao-list .nota-final span {
      display: block;
      font-weight: 300;
      font-size: 0.65em;
      opacity: 0.9; }
      #avaliacao-list .nota-final span.r {
        color: red; }
      #avaliacao-list .nota-final span.a {
        color: green; }
