.page--material__background {
  background: #333333; }

.btn-dark {
  background: black;
  border-color: black; }

.btn-primary {
  background: #ff6600;
  border-color: #ff6600; }

ons-input input[type="text"], ons-input input[type="password"] {
  color: #aaa; }

ons-input .text-input--material:focus {
  background-image: linear-gradient(#ff6600, #ff6600), linear-gradient(to top, transparent 1px, #afafaf 1px); }

ons-input .text-input__label {
  color: #e77427; }

ons-toolbar.toolbar {
  background: #222; }
  ons-toolbar.toolbar .toolbar__title {
    color: #eee; }

ons-icon {
  color: #ff6600; }

.tabbar, .tabbar.tabbar--material {
  background: #252525; }
  .tabbar .tabbar__button, .tabbar.tabbar--material .tabbar__button {
    color: #ddd; }
    .tabbar .tabbar__button .tabbar__icon ons-icon, .tabbar.tabbar--material .tabbar__button .tabbar__icon ons-icon {
      color: #ddd; }

ons-list, ons-list.list--material {
  background-color: #222; }

ons-list ons-list-item.list-item {
  color: #ddd; }

.back-button--material__icon {
  fill: #ff6600; }

ons-card.card {
  background: #dedede; }

ons-fab.fab {
  background: #ff6600; }

#completed-list {
  font-size: 1.1em; }

#pending-list, #result-list, #completed-list, #notification-list {
  background: #383838; }
  #pending-list .imovel-card, #result-list .imovel-card, #completed-list .imovel-card, #notification-list .imovel-card {
    position: relative;
    padding-top: 0px; }
    #pending-list .imovel-card img, #result-list .imovel-card img, #completed-list .imovel-card img, #notification-list .imovel-card img {
      object-fit: cover;
      width: calc(100% + 32px);
      max-height: 150px;
      margin-left: -16px;
      overflow: hidden; }
    #pending-list .imovel-card .title, #result-list .imovel-card .title, #completed-list .imovel-card .title, #notification-list .imovel-card .title {
      padding-top: 7.5px;
      font-size: 1.1em;
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      #pending-list .imovel-card .title .address, #result-list .imovel-card .title .address, #completed-list .imovel-card .title .address, #notification-list .imovel-card .title .address {
        font-size: 0.9em; }
        #pending-list .imovel-card .title .address .low, #result-list .imovel-card .title .address .low, #completed-list .imovel-card .title .address .low, #notification-list .imovel-card .title .address .low {
          display: block;
          font-size: 0.75em; }
      #pending-list .imovel-card .title .grade, #result-list .imovel-card .title .grade, #completed-list .imovel-card .title .grade, #notification-list .imovel-card .title .grade {
        font-weight: bold;
        font-size: 1.3em; }
    #pending-list .imovel-card::after, #result-list .imovel-card::after, #completed-list .imovel-card::after, #notification-list .imovel-card::after {
      display: block;
      background: #2142a5;
      width: 100%;
      height: 10px;
      position: absolute;
      top: 0;
      left: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px; }
    #pending-list .imovel-card .status, #result-list .imovel-card .status, #completed-list .imovel-card .status, #notification-list .imovel-card .status {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      padding-top: 7px;
      padding-left: 12px;
      padding-bottom: 7px;
      margin-top: -10px;
      margin-left: -16px;
      margin-right: -16px;
      background: rgba(211, 211, 211, 0.2);
      font-size: 0.9em; }
      #pending-list .imovel-card .status.p, #result-list .imovel-card .status.p, #completed-list .imovel-card .status.p, #notification-list .imovel-card .status.p {
        border-bottom: solid 4px dimgray; }
      #pending-list .imovel-card .status.a, #result-list .imovel-card .status.a, #completed-list .imovel-card .status.a, #notification-list .imovel-card .status.a {
        border-bottom: solid 4px green; }
      #pending-list .imovel-card .status.r, #result-list .imovel-card .status.r, #completed-list .imovel-card .status.r, #notification-list .imovel-card .status.r {
        border-bottom: solid 4px #c40000; }
    #pending-list .imovel-card .hora, #result-list .imovel-card .hora, #completed-list .imovel-card .hora, #notification-list .imovel-card .hora {
      margin-top: 10px;
      font-size: 0.8em;
      opacity: 0.75; }

#pendingTasksPage .notification-title {
  color: #ff6600 !important; }

#pendingTasksPage .distance {
  margin-top: 15px;
  color: #ff6600;
  font-weight: bold;
  text-align: center; }
  #pendingTasksPage .distance span {
    font-weight: 300;
    color: #333; }

#imovelPage .carousel ons-carousel-item {
  text-align: center;
  height: 200px; }
  #imovelPage .carousel ons-carousel-item img {
    max-height: 100%;
    width: 100%;
    object-fit: cover; }

#imovelPage .panel {
  margin-top: 7px; }
  #imovelPage .panel > div {
    display: flex;
    flex-direction: column; }
  #imovelPage .panel .title {
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px; }
    #imovelPage .panel .title .address {
      padding: 15px 0;
      font-size: 1.3em; }
      #imovelPage .panel .title .address .low {
        display: block;
        font-size: 0.7em; }
        #imovelPage .panel .title .address .low .fa {
          color: #ff6600; }
    #imovelPage .panel .title .grade {
      font-size: 1.8em;
      font-weight: bold;
      color: white;
      background: #ff6600;
      padding: 7px 10px;
      height: 100%;
      display: flex;
      align-items: center; }
  #imovelPage .panel .desc {
    background: #eee;
    color: #333;
    padding: 15px 25px;
    font-size: 0.9em;
    margin-top: 3px; }

#imovelPage .map {
  height: 500px; }

#imovelPage #fabAvaliar .fab--material__icon {
  color: #fff !important; }

#map {
  height: 600px; }

#scorePage #areaSubmitAvaliacao {
  position: absolute;
  bottom: 5px;
  z-index: 100;
  width: 100%; }

#avaliacao-list {
  padding-bottom: 20px;
  background: #383838; }
  #avaliacao-list .avaliacao {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    background: #fff;
    margin-bottom: 15px;
    font-size: 1.1em; }
    #avaliacao-list .avaliacao.status {
      background: lightgray;
      margin: 0; }
  #avaliacao-list .nome {
    font-size: 1.1em;
    opacity: 0.65;
    margin-bottom: 10px; }
  #avaliacao-list .desc {
    font-size: 0.825em;
    padding: 0 15px; }
  #avaliacao-list .nota {
    font-size: 0.95em;
    margin-top: 15px;
    margin-left: -20px;
    margin-right: -20px;
    background: rgba(211, 211, 211, 0.275);
    padding: 3px 20px; }
    #avaliacao-list .nota span {
      opacity: 0.625;
      font-size: 0.85em; }
  #avaliacao-list .status {
    float: right;
    text-align: center;
    margin-right: 16px; }
    #avaliacao-list .status.r {
      color: #d30000;
      opacity: 0.65; }
    #avaliacao-list .status.a {
      color: #008300;
      opacity: 0.65; }
  #avaliacao-list .nota-final {
    font-weight: bolder;
    width: 100%;
    text-align: center; }
    #avaliacao-list .nota-final span {
      opacity: 0.6;
      margin-right: 10px; }

#imovelAnalise .title {
  width: 100%;
  padding: 20px;
  background: #494949;
  color: white; }
  #imovelAnalise .title .nota-futura {
    display: flex;
    align-items: center;
    padding: 0 10px; }
    #imovelAnalise .title .nota-futura div {
      text-align: center; }
    #imovelAnalise .title .nota-futura #nota_prevista {
      padding-left: 25px;
      font-size: 1.5em;
      font-weight: bold;
      color: #ff6600; }

#analise-positivo-list, #analise-negativo-list {
  background: #383838;
  border-left: 3px solid black;
  overflow: hidden; }
  #analise-positivo-list#analise-positivo-list, #analise-negativo-list#analise-positivo-list {
    border-left: 8px solid #00a100;
    border-right: 8px solid #00a100; }
  #analise-positivo-list#analise-negativo-list, #analise-negativo-list#analise-negativo-list {
    border-left: 8px solid #c20000;
    border-right: 8px solid #c20000; }
  #analise-positivo-list .inf, #analise-negativo-list .inf {
    position: relative;
    color: #eee;
    background: #2c2c2c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #383838; }
    #analise-positivo-list .inf .influence, #analise-negativo-list .inf .influence {
      font-size: 1.3em;
      margin: 0 15px; }
    #analise-positivo-list .inf.inf-3 .influence, #analise-positivo-list .inf.inf-3 .influence ons-icon, #analise-positivo-list .inf.inf-2 .influence, #analise-positivo-list .inf.inf-2 .influence ons-icon, #analise-positivo-list .inf.inf-1 .influence, #analise-positivo-list .inf.inf-1 .influence ons-icon, #analise-negativo-list .inf.inf-3 .influence, #analise-negativo-list .inf.inf-3 .influence ons-icon, #analise-negativo-list .inf.inf-2 .influence, #analise-negativo-list .inf.inf-2 .influence ons-icon, #analise-negativo-list .inf.inf-1 .influence, #analise-negativo-list .inf.inf-1 .influence ons-icon {
      color: green; }
    #analise-positivo-list .inf.inf--3 .influence, #analise-positivo-list .inf.inf--3 .influence ons-icon, #analise-positivo-list .inf.inf--2 .influence, #analise-positivo-list .inf.inf--2 .influence ons-icon, #analise-positivo-list .inf.inf--1 .influence, #analise-positivo-list .inf.inf--1 .influence ons-icon, #analise-negativo-list .inf.inf--3 .influence, #analise-negativo-list .inf.inf--3 .influence ons-icon, #analise-negativo-list .inf.inf--2 .influence, #analise-negativo-list .inf.inf--2 .influence ons-icon, #analise-negativo-list .inf.inf--1 .influence, #analise-negativo-list .inf.inf--1 .influence ons-icon {
      color: #c50000; }

#loginPage .page__content {
  display: flex;
  align-items: center; }
  #loginPage .page__content > div {
    width: 100%; }

#loginPage ons-input {
  width: 70%; }

#loginPage button {
  width: 70%; }

#cadastrarPage .carousel ons-input {
  width: 70%; }

#areaProximo, #areaConfirmar {
  position: fixed;
  bottom: 5px;
  width: 100%; }

#cadastros-list, #pendencias-list {
  background: #383838; }
  #cadastros-list .cadastro-card, #cadastros-list .dual, #cadastros-list .direita, #pendencias-list .cadastro-card, #pendencias-list .dual, #pendencias-list .direita {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #cadastros-list .cadastro-card.direita, #cadastros-list .dual.direita, #cadastros-list .direita.direita, #pendencias-list .cadastro-card.direita, #pendencias-list .dual.direita, #pendencias-list .direita.direita {
      flex-direction: column; }
  #cadastros-list .nome, #pendencias-list .nome {
    font-weight: 500;
    font-size: 1.1em; }
  #cadastros-list .data, #pendencias-list .data {
    margin-top: 10px;
    opacity: 0.75;
    font-size: 0.9em; }
  #cadastros-list .tag, #pendencias-list .tag {
    text-align: right; }
    #cadastros-list .tag.a, #pendencias-list .tag.a {
      color: goldenrod;
      font-weight: 500; }
    #cadastros-list .tag.u, #pendencias-list .tag.u {
      color: red;
      font-weight: bolder; }
