<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    {{#if head.onsenui}}
    <script src="/onsenui/js/onsenui.js"></script>

    <link rel="stylesheet" href="/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="/onsenui/css/onsen-css-components.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-select/dist/css/bootstrap-select.css">
    {{/if}}

    <link rel="stylesheet" href="/css/main.css">

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body>

{{{body}}}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXkuJm0jYAjeyqsqxeT8fByvvUPa8Atts"></script> 
    <script src="/jquery/dist/jquery.min.js"></script>   
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>   
    <script src="/bootstrap-select/dist/js/bootstrap-select.js"></script>   
    
    <script>
        var map
        var options
        var geocoder

        function initMap() {
            geocoder = new google.maps.Geocoder();
            options = {
                zoom: 15,
                center: {lat: -23.2237,lng: -45.9009}
            }
            
            map = new google.maps.Map(document.getElementById('map'), options);

            // Call the codeAddress function (once) when the map is idle (ready)
            google.maps.event.addListenerOnce(map, 'idle', codeAddress);

            // // Marker
            // function addMarker(props) {
            //     var marker = new google.maps.Marker({
            //         position: props.coords,
            //         map: map
            //     })
            //     if(props.content) {
            //         var infoWindow = new google.maps.InfoWindow({
            //             content: props.content 
            //         });
            //         marker.addListener('click', function() {
            //             infoWindow.open(map, marker);
            //         })
            //     }
            // }

            // var markers = [{
            //     coords: {lat: -23.2232,lng: -45.9007},
            //     content: '<h3>Rua A...</h3>'
            // },{
            //     coords: {lat: -23.2237,lng: -45.9008},
            //     content: '<h3>Rua B...</h3>'
            // }];

            // for(var i = 0; i < markers.length; i++) {
            //     addMarker(markers[i])
            // }

            // Geolocation
            var infoWindow = new google.maps.InfoWindow;
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('<h3>Você está aqui.</h3>');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function codeAddress() {
            // percorrer para cada imovel - for()
            // Define address to center map to
            var address = 'Rua Professor Luiz Eurico Ferreira 119';

            geocoder.geocode({
                'address': address
            }, function (results, status) {

                if (status == google.maps.GeocoderStatus.OK) {

                    // Center map on location
                    map.setCenter(results[0].geometry.location);

                    // Add marker on location
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                    var infoWindow = new google.maps.InfoWindow({
                        content: `<h3>${address}</h3>`
                    });
                    marker.addListener('click', function() {
                        infoWindow.open(map, marker);
                    })

                } else {

                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
    </script>
    <script>
        $(document).on('change', '#rangeDistancia', function() {
            console.log($("#rangeDistancia").val() + ' km')
            $("#inputDistancia").show();
            $("#inputDistancia").text($("#rangeDistancia").val() + ' km');
        });
        $(document).on('click', '#btnMostrarMais', function() {
            $("#divMaisFiltros").show();
        });
        $(document).on('click', '#fabToggleMap', function() {
            if($('#areaMap').css('display') == 'none') {
                $("#areaCard").hide();
                $("#areaMap").show();
            } else {
                $("#areaMap").hide();
                $("#areaCard").show();
            }
        });
    </script>
</body>

</html>